Inspired by the following website: http://mathcentral.uregina.ca/QQ/database/QQ.09.99/freeman2.html

Monetcarlo simulation designed to show the value of using (n-1) for calculating the standard deviation of a sample, rather than n.

Assuming a population filled with 1's and 5's, with 5 having a 1/4 chance of being selected and 1 having a 3/4 chance of being selected.

In [1]:
freq_1 = 3/4
freq_5 = 1/4

# mean of population values
mean = 1*(freq_1) + 5*(freq_5)
mean

2.0

In [2]:
# variance of population values
var = pow(1 - mean, 2) * freq_1 + pow(5 - mean, 2) * freq_5
var

3.0

In [3]:
from random import randint
import pandas as pd

results = []
#results = pd.DataFrame(columns=['samp_1', 'samp_2', 'samp_3', 'mean', 'var_n', 'var_n_sub_1'])

In [4]:
for i in range(1, 1001):
    results.append(list(map(lambda x: 1 if x < 4 else 5, [randint(1,4), randint(1,4), randint(1,4)])))
    
results = pd.DataFrame(data=results, columns=['samp_1', 'samp_2', 'samp_3'])

In [5]:
def calc_var(ser):
    return sum([pow(x - ser[3], 2) for x in ser[0:3]]) / 3
    
def calc_var_sub_1(ser):
    return sum([pow(x - ser[3], 2) for x in ser[0:3]]) / 2

In [6]:
results['samp_mean'] = results.mean(axis=1)
results['var_n'] = results[['samp_1', 'samp_2', 'samp_3', 'samp_mean']].apply(calc_var, axis=1)
results['var_n_sub_1'] = results[['samp_1', 'samp_2', 'samp_3', 'samp_mean']].apply(calc_var_sub_1, axis=1)

In [7]:
results.describe()[0:2]

         samp_1    samp_2    samp_3    samp_mean        var_n  var_n_sub_1
count  1000.000  1000.000  1000.000  1000.000000  1000.000000     1000.000
mean      2.072     2.012     2.052     2.045333     2.058667        3.088

As shown above, the var with n-1 actually got a lot closer to predicting the population variance (3) than did the var using n!